<% layout("/layouts/boilerplate") %>
    <form
        class=" flex w-3/5 mx-auto h-screen items-start p-2 border border-white rounded-lg flex-col  gap-4 text-black "
        method="post" enctype="multipart/form-data" action="/listings/<%=list._id%>?_method=PUT">
        <h2 class="text-3xl  font-medium">Create a New Listing</h2>
        <div class="w-full">
            <label for="101">Title</label>
            <input class="border border-slate-500 p-1 w-full rounded-md" value="<%= list.title %>" type="text"
                name="listing[title]" id="101">
        </div>
        <div class="w-full">

            <label for="102">Description</label>
            <textarea class="border border-slate-500 p-1 rounded-md w-full" type="text" name="listing[description]"
                id="102"><%= list.description %></textarea>
        </div>
        <div class="w-[150px] h-[150px]">
            <picture class=" w-full h-full">
                <source src="<%= originalImageUrl %>">
                <img class=" " src="<%= originalImageUrl %>" alt="place photo">
            </picture>
        </div>
        <div class="w-full">

            <label for="103">Upload new image link</label>
            <input class="border border-slate-500 p-1 rounded-md w-full" value="<%= list.image.url %>" type="file"
                id="103" name="listing[imageurl]">

        </div>
        <div class="w-full flex flex-col gap-3 md:flex-row">
            <div class="md:w-1/3 w-full">

                <label for="104">Price</label>
                <input class="border border-slate-500 p-1 rounded-md w-full" value="<%= list.price %>" type="number"
                    name="listing[price]" id="104">
            </div>
            <div class="md:flex-1 w-full">

                <label for="105">Country</label>
                <input class="border border-slate-500 p-1 rounded-md w-full" value="<%= list.country %>" type="text"
                    name="listing[country]" id="105">
            </div>
        </div>
        <div class="w-full">

            <label for="106">Location</label>
            <input class="border border-slate-500 p-1 rounded-md w-full" type="text" value="<%= list.location %>"
                name="listing[location]" id="106">
        </div>
        <button class="text-white bg-black p-1 text-xl rounded-md">Submit</button>
    </form>